/* 문의하기 */

/* 헤더 언더라인 이동 */
header nav.main_nav div.underline {
  left: calc(75% + 32px);
}

/* 전체 높이 */
.contactBox {
  height: 1100px;
}

/* 메뉴 */
.contact-menu {
  display: flex;
  flex-wrap: wrap;
  
  border-bottom: 1px solid #ddd;
  
  width: 1027px;
  height: 50px;
  
  margin: 0 auto;  	
}

.contact-menu a {
  width: 140px; 
  height: 100%;
  
  text-align: center;
  
  padding-top: 12px;
  
  font-size: 18px;
  font-weight: bold;	
}

.contact-menu div.underline {
  position: relative;

  left: -280px;
  bottom: -47px;
  
  width: 140px;
  height: 3px;
  
  background: #ee82ee;
  transition: all .3s ease-in-out;
}

.contact-menu a:nth-child(1):hover  {
  color: #ee82ee;
}
.contact-menu a:nth-child(1):hover ~ .underline {
  left: -280px;
}

.contact-menu a:nth-child(2):hover  {
  color: #ee82ee;
}
.contact-menu a:nth-child(2):hover ~ .underline {
  left: -140px;
}

/* 상단 테이블 레이아웃 위치 지정 */
.table-box {
  height: 460px; 	
}

.table-box >  div {
  margin: 45px auto 0px auto;
  
  width: 1027px;
  
  padding-left: 35px; 
}

p {
  font-weight: bold;
  
  margin-bottom: 5px;	
}

/* 문의하기 테이블 크기 */
table {
  border-spacing: none;
  border-collapse: collapse;
  margin: 35px auto;
  width: 65%;
}

tr td {
  border: none;
}

tr td:first-child {
  border-left: none;	
  width: 200px;
  
  text-align: left;
  
  font-size: 14px;
  font-weight: bold;
  
  padding: 20px 35px 30px 35px;
}

tr td:last-child {
  padding-top: 20px;	
}

em {
  margin-left: 1px;
  background-color: red;

  display: inline-block;
  
  width: 5px;
  height: 5px;
  
  vertical-align: top;
  
  border-radius: 5px;
}

.contents-box input {
  width: 100%;	
  height: 32px;
  
  margin-top: 20px;
}

.contents-box input, textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px groove #eee;
 
  background-color: #f5f5f5;	
}

.contents-box input:focus {
  outline: none;
  border-bottom-color: #ee82ee;
}

.span-title {
  visibility: hidden;
  color: red;
  
  font-size: 12px;
  font-weight: bold;
}

/* 글자수 폰트사이즈 */
.text-count {
  font-size: 12px;
  font-weight: bold;
  
    
  width: 50px;	
}

/* 글자수-제목 위치 */
.cntTitle {
  position: relative;
  
  bottom: 15px;
  left: 760px;	
} 

/* 중단 div 문의내용 레이아웃 */
.layout-contents {
  display: flex;
}

.layout-contents div:first-child {
  font-size: 14px;
  font-weight: bold;
  
  vertical-align: top;
  
  width: 180px; 	
}

.contents-box textarea {
  width: 800px;
  height: 27px;
    
  margin-left: 25px;
  
  resize: none;
  overflow-y: hidden;

  line-height: 20px;
}

.contents-box textarea:focus {
  outline: none;
  border-bottom-color: #ee82ee;	
}

.span-contents {
  visibility: hidden;
  color: red;
  
  font-size: 12px;
  font-weight: bold;
  
  margin-left: 25px;
  
  position: relative;
  
  bottom: 5px;
}

/* 글자수-내용 위치 */
.cntContents {
  position: relative;
  
  bottom: 20px;
  left: 780px;
} 

/* 하단 테이블 레이아웃 */
.title-email, .contents-email {
  vertical-align: top;
}

.contents-email > div {
  margin-bottom: 10px;
}

.contents-email > div > div:first-child {
  display: inline-block;
  width: 80px;
}

.contents-email > div > div > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  
  position: relative;
  
  top: 2px; 	
}

.contents-email span {
  font-size: 12px;	
}

.confirm-email {
  display: none;
  width: 360px;

  border-radius: 3px;
  
  background-color: white;
  color: black;

  padding: 10px;
  
  font-weight: bold;
}

tr.tr-file {
  position: relative;	
}

td.title-img {
  position: absolute;
  
  top: 10px;	
}

/* 파일 찾기 버튼 */
.btn_img_done {
  width: 100px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ee82ee;
  border-radius: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_img_box > button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.9s linear;
}

/* 드롭다운 파일명 레이아웃 */
.file-box {
  display: none;
  
  width: 360px;
  
  position: relative;
  top: 10px;
  
  background-color: white;
  
  font-size: 14px;

  padding: 10px;
}

#escFile {
  width: 20px;
  height: 15px;
  
  float: left;
  
  cursor: pointer;	
}

/* 하단 라인 */
.bottom_line{
  margin: 0px auto;
  
  border-bottom: 1px groove #eee;
}

/* 취소, 등록 버튼 */
.btn_list_box {
  width: 100%;
  height: 1px;
  
  margin: 0px auto;
  text-align: right;
}

.btn_reset {
  width: 120px;
  height: 40px;
  
  margin-bottom: 30px; 
  
  font-size: 16px;
  font-weight: 600;
  
  background-color: white;
  border-radius: 3px;
  color: black;
  
  border: none;
  cursor: pointer;
  
  margin-right: 10px;
}

.btn_done {
  width: 120px;
  height: 40px;
  
  margin-bottom: 30px;
  
  font-size: 16px;
  font-weight: 600;
  
  background-color: #ee82ee;
  border-radius: 2px;
  color: #fff;
  
  border: none;
  cursor: pointer;
}

.btn_list_box > button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.9s linear;
}