/* 문의하기 조회 */

/* 헤더 언더라인 이동 */
header nav.main_nav div.underline {
  left: calc(75% + 32px);
}

.contactResultBox {
  height: 650px;	
}

/* 메뉴 */
.contact-menu {
  display: flex;
  flex-wrap: wrap;
  
  border-bottom: 1px solid #ddd;
  
  width: 1027px;
  height: 50px;
  
  margin: 0 auto;  	
}

.contact-menu a {
  width: 140px; 
  height: 100%;
  
  text-align: center;
  
  padding-top: 12px;
  
  font-size: 18px;
  font-weight: bold;	
}

.contact-menu div.underline {
  position: relative;

  left: -140px;
  bottom: -47px;
  
  width: 140px;
  height: 3px;
  
  background: #ee82ee;
  transition: all .3s ease-in-out;
}

.contact-menu a:nth-child(1):hover  {
  color: #ee82ee;
}
.contact-menu a:nth-child(1):hover ~ .underline {
  left: -280px;
}

.contact-menu a:nth-child(2):hover  {
  color: #ee82ee;
}
.contact-menu a:nth-child(2):hover ~ .underline {
  left: -140px;
}

.table-box {
  margin-top: 45px;
}

.table-box > div {
  display: flex;
  justify-content: flex-start;
  
  text-align: center;
  
  width: 65%;
  
  margin: 0 auto;
   	
}

/* 테이블 제목 항목을 제외한 나머지 항목들은 중앙 정렬 */
td:not(.title) {
  text-align: center;
}

/* 2n번째 열 배경색 */
tr:nth-child(even) td {
  background: #eaeaed;
}

.contactResultBox div:first-child {
  margin-bottom: 15px;	
}

/* 테이블 레이아웃 위치 지정 */
.table-box {
  /* height: 460px; */ 

}

.table-box div:last-child {
  width: 1027px;
  margin: 0 auto 16px auto;

  font-size: 14px;
  font-weight: bold; 
}

/* 공지사항 게시판 크기 */
table {
  border-spacing: 0;
  margin: 0 auto;
  width: 65%;
}

th.num {
  width: 80px;
}

td {
  font-size: 14px;
  font-weight: bold;  	
}

div.blue {
  margin:  0 auto;
  
  font-weight: bold;
  color: blue;  
  
  width: 93.5%;
  text-align: left;
  
  position: relative;
  top: 25px;
}