
/* 배경 레이아웃 */
.mypage_box{
  margin: 0 auto;
  
  border: 1px solid #ee82ee;
  border-radius: 10px;
  
  width: 600px;
  
  background-color: #fff;
  
  align-items: center;
  
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* 제목 폰트 */
.pageTitle {
  text-align: center;
  
  margin: 50px auto 50px auto;	
}

.pageTitle > div {
  background-color: #fff;
  border-radius: 20px;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
  display: inline-block;
  
  line-height: 60px;
}

.pageTitle > div > span {
  margin: 0 22px;
  font-size: 25px;
  font-weight: bold;
}

/* 이미지 레이아웃 */
div.profile_area {
  display: flex;
  
  margin-top: 30px;	
}

 label#input_profile_img {
    
        margin: 10px 0 0 40px;       
        font-family: "Noto Sans KR", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        width: 150px;
        border-radius: 3px;
        color:#fff;
        font-family: 'Nanum Gothic';
        background-color: #ee88ee;
        cursor: pointer;
      }

div.profile_area .profile_img img{
  width: 150px;
  height: 150px;
  
  border-radius: 80px;
  
  margin-left: 40px;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user_info {
  width: 400px;	
}

.user_info > div:first-child {
  height: 50px;
  
  text-align: left;
}


.user_info > div > button {
  width: 120px;
  height: 45px;
  
  border:none;
  border-radius: 10px;
  
  background-color: #ee88ee;
  color:#fff;
  
  font-size: 1rem;
  font-weight: 600;
  
  margin-left: 45px;
  
  cursor: pointer;
}

/* 이름 레이아웃 */
.user_info > div:nth-child(2) {
  height: 30px;
  
  margin: 15px 45px;
  
  display: flex;
}



#userName {
  margin-left: 30px;	
}

/* 이메일 레이아웃 */
.user_info > div:nth-child(3) {
  height: 50px;
  
  margin: 15px 45px;
  
  display: flex;
}

#userEmail {
  margin-left: 30px;	
}

.profile_menu {
  border: 1px solid black;
  margin: 40px;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid black;
  outline: none;
  transition: 0.4s;
  position: relative;
   font-size: 13px;
  font-weight: 600;
}

.accordion:first-of-type {
  border-top: none;
}

.accordion__arrow {
  float: right;
}

.active .accordion__arrow {
  transform: rotate(90deg);
}

.active, .accordion:hover {
  background-color: #ee88ee;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: none;
  height:100%; 
}

.panel p{
  font-size: 20px;
  font-weight: 600;
  margin-top:12px;
}

.panel_wrap{
display:flex;
justify-content: space-between;
}

.review_btn{
  margin:5px 0 5px 0;
  width:120px;
  height:35px;
  background-color:#ee88ee;
  color:#fff;
  border:none;
  border-radius:10px;
  font-weight: 600;
  cursor:pointer;
}
.wented_hotel{
  height: 450px;
  padding: 90px 50px 0 50px;
}

/* 마이페이지 찜 */
.wented_title{
  width: 200px;
  font-size: 22px;
  color: #555;
  font-weight: 700;
  margin-left:30px;
  
}

.wented_hotel_wrap{
  position: relative;
  display: flex;
  width: 515px;
  justify-content: center;
  margin: 0 auto;
}

.wented_hotel_container{
  display: flex;
  align-items: center;
  width: 95%;
  overflow: hidden;
  height: 125px; 
}

.wanted_hotel{
  position: relative;
}

.wented_hotel_container img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 30px;
}

.wented_hotel_wrap .prev, .wented_hotel_wrap .next{
  display: none;
  position:absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.wented_hotel_wrap .prev{
  left: -25px;
  bottom: 45px;
}

.wented_hotel_wrap .next{
  right: -25px;
  bottom: 45px;
}

.accordion__arrow2 {
  float: right;
}

.like_close{
  position: absolute;
  font-size: 25px;
  z-index: 3;
  left: 74px;
  cursor: pointer;
}

/* 회원탈퇴 */
.unregister{
	margin: 10px 0 0 80px;
	color: #b5b5b5;
	cursor: pointer;
}

