.nice_title{
    background-color: #fff;
    width: 160px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 100px 0 30px 5px;
}

.nice_title > span{
    margin: 0 0 50px 22px;
    font-size: 25px;
    font-weight: 600;
  }
  
  .nice_wrap{
  border:1px solid;
  padding:10px;
  }
  
  .nice_name > span{
  font-weight:600;
  font-size:20px;
  }
  .nice_img > img{
  width:150px;
  height:100px;
  }
  
  .nice_btn{
  
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #ee82ee;
  width: 160px;
  height: 45px;
  border: 1px solid #ee82ee;
  border-radius: 10px;
  margin-top:15px;
  cursor:pointer;
  float:right;
  }
